@font-face {
  font-family: 'Yanone Kaffeesatz';
  font-style: normal;
  font-weight: 400;
  src: local('Yanone Kaffeesatz Regular'), local('YanoneKaffeesatz-Regular'), url(fonts/YanoneKaffeesatz-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Serif'), local('DroidSerif'), url(fonts/DroidSerif.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Serif Bold'), local('DroidSerif-Bold'), url(fonts/DroidSerif-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Serif';
  font-style: normal;
  font-weight: 700;
  src: local('Droid Serif Italic'), local('DroidSerif-Bold'), url(fonts/DroidSerif-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(fonts/UbuntuMono-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Mono Bold'), local('UbuntuMono-Bold'), url(fonts/UbuntuMono-Bold.ttf) format('woff');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Mono Italic'), local('UbuntuMono-Italic'), url(fonts/UbuntuMono-Italic.ttf) format('woff');
}

body { font-family: 'Droid Serif'; }
h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 10px;
}
.remark-slide-content h1 { font-size: 4.5em; }
.remark-slide-content h2 { font-size: 2.6em; }
.remark-slide-content h3 { font-size: 1.8em; }
.remark-code { font-size: 22px; }
.inverse {
  background: #272822;
  color: #777872;
  text-shadow: 0 0 20px #333;
}
.inverse h1, .inverse h2 {
  color: #f3f3f3;
  line-height: 0.8em;
}

pre {
  border-left: 0.4em solid #d7d7d7;
  padding: 1em !important;
}
code {
  background: transparent !important;
}
a {
  color: #F92672;
  text-decoration: none;
}
.task {
  float: right;
  font-size: 0.9em;
  padding-top: 0.6em;
}
.task a {
  color: #080;
  text-decoration: none;
}
.right {
  float: right;
  margin-left: 1em;
}
.pushdown {
  margin-top: 12em;
}
